.btn {
  border-radius: 12.5rem;
  transition: 0.2s;

  @include fontSize(16);

  &:hover {
    text-decoration: none;
  }

  &-primary {
    background-color: $secondarycolor;
    padding: 0.75rem 1.5rem 0.875rem;

    &:hover {
      color: $secondarycolor;
      background-color: transparent;
      border: 1px solid $secondarycolor;
    }
  }

  &-outline {
    border: 1px solid $secondarycolor;
    color: $secondarycolor;

    &:hover {
      color: $white;
      background-color: $secondarycolor;
    }
  }

  &-border {
    padding: 0.75rem 1.375rem 0.875rem;
  }

  &-outline--border {
    border: 1px solid $white;
  }

  &-white {
    background-color: $white;
    border: 1px solid $white;
    color: $secondarycolor;
    padding: 0.625rem 1.5rem 0.75rem;
  }
}
