$primarycolor: #dcc1ab;
$secondarycolor: #1b5b31;
$beige: #f5f0ec;
$dark: #111;

$primaryfont: "Inter", sans-serif;
$secondaryfont: "Montserrat", sans-serif;
$italicfont: "Inter Medium Italic", sans-serif;
