body {
  font-family: $primaryfont;
  background: $beige;
  color: $dark;
  margin: 0;
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

#app {
  overflow: hidden;
}

.nolist {
  list-style: none;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
}

.container {
  max-width: 1262px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bg-beige {
  background-color: $primarycolor;
}
