h1,
h2,
h4 {
  font-weight: 500;
  font-family: $secondaryfont;
}

h1 {
  @include fontSize(60);
  @include lineHeight(70);

  @include media-breakpoint-down(md) {
    @include fontSize(36);
    @include lineHeight(40);
  }
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 1.25rem;

  @include fontSize(48);

  @include media-breakpoint-down(md) {
    @include fontSize(30);
    @include lineHeight(38);
  }

  em {
    letter-spacing: 0;
  }
}

h3 {
  font-family: $secondaryfont;
  font-weight: 400;
  letter-spacing: -2px;

  @include fontSize(40);

  @include media-breakpoint-down(md) {
    @include fontSize(26);
    @include lineHeight(38);
  }
}

h4 {
  @include fontSize(28);

  @include media-breakpoint-down(md) {
    @include fontSize(24);
    @include lineHeight(32);
  }
}

p,
span {
  letter-spacing: -0.16px;

  @include fontSize(16);
  @include lineHeight(24);

  @include media-breakpoint-down(md) {
    @include fontSize(14);
    @include lineHeight(20);
  }
}

a {
  @include fontSize(14);
  @include lineHeight(20);

  @include media-breakpoint-down(md) {
    @include fontSize(12);
    @include lineHeight(16);
  }
}

em {
  font-family: $italicfont;
  letter-spacing: 1px;
}
